@model TaskManegementSystem.Models.TaskViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h1 class="text-center3">Are you sure you want to delete this?</h1>

<div>
   <div>
    <dl>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.TaskID)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.TaskID)
        </dt>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.Description)
        </dt>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.AssignedUser)
        </dt>
    </dl>
</div>
     <div class="buttons"> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    </div>
</div>
