@model TaskManegementSystem.Models.TaskViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />


<h1 class="text-center">Details</h1>

<div>
    <dl>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.TaskID)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.TaskID)
        </dt>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.Description)
        </dt>
        <dt class="display-name">
            @Html.DisplayNameFor(model => model.AssignedUser)
        </dt>
         <dt class="display-name2">
            @Html.DisplayFor(model => model.AssignedUser)
        </dt>
    </dl>
</div>

<div>
    <div class="buttons">
    <a asp-action="Edit" asp-route-id="@Model?.TaskID" class="btn btn-primary">Edit</a>
    |
    <a asp-action="Index">Back to List</a>
    </div>
</div>
